body{
  font:20px/1.1em arial, sans-serif;
  /* background:lightgray; */
}
nav{
  position: absolute;
  right: 40px;
  top: 40px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
button{
  background-color: #cfcae8;
  border: 1px solid #5b5966;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
}
button,a{
  color: #0b0236;
}
a{
  font-size: 18px;
  text-decoration: none;
}
.box {
  background-color: lightgrey;
  position: relative;
  height: 100px;
  width: 100px;
}
.box:hover {
  background-color: skyblue;
  cursor: move;
}

.box:active {
  background-color: tomato;
}
p{

  hyphens: auto;
}
